<html>
<head>

</head>

<body>
    

    <div style="background-color: aqua;">
        
        <div>
            Welcome User {{data}}
        </div>
        

        <form action="/register_student" method="POST">
            
            <span>Enter Name</span><input type="text" name="huhuh">

            
            <span>Enter Email</span><input type="text" name="Email">

            
            <span>Enter Department</span><input type="text" name="Department">
             
            <button type="submit">Submit</button>


        </form>

    </div>
</body>

</html>