{% extends 'admin/master.html' %}

{# --- Custom Page Title --- #}
{% block title %}UnifyU Admin Panel{% endblock %}

{# --- Custom Head (CSS/JS) --- #}
{% block head %}
    {{ super() }}

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/UnifyU_logo_finPNG.png') }}">

    
<nav class="navbar navbar-expand-lg" style="background-color: #1f65dc;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('homepage') }}" style="color: #ffffff; text-decoration: underline !important;">UnifyU</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav" style="margin-left: auto;">

        <li class="nav-item">
          <a class="nav-link btn btn-outline-primary mx-1" href="{{ url_for('admin.index') }}" style="color: #ece3e3">Admin Panel</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link btn btn-outline-primary mx-1" href="{{ url_for('homepage') }}" style="color: #ece3e3">Home</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
{% endblock %}



{# --- Custom Navbar Brand (logo + name) --- #}
{% block brand %}
<a class="navbar-brand" href="{{ url_for('admin.index') }}">
    <img src="{{ url_for('static', filename='images/UnifyU_logo_finPNG.png') }}" height="30" alt="Logo">
    Admin Panel
</a>
{% endblock %}

{# --- Main Navbar Menu --- #}
{% block main_menu %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('admin.index') }}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('users_list.index_view') }}">Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/fooditem/">Food Items</a>
    </li>
     <li class="nav-item">
        <a class="nav-link" href="{{ url_for('actions.index') }}">Club Actions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('add_admin.index_view') }}">Add/Remove Admin</a>
    </li>
</ul>
{% endblock %}


{% block body %}
<div class="container mt-4">
    <h1 class="display-3" style="text-align: center;">📊<u>Site Overview</u></h1>
    <body>
      <br>
      <h2 class="page-header">Site Admins</h2>

      <table class="table table-striped table-hover table-bordered">
          <thead class="thead-dark">
              <tr>
                  <th>Name</th>
                  <th>Username</th>
                  <th>Email</th>
              </tr>
          </thead>
          <tbody>
              {% for admin in admins %}
              <tr>
                  <td>{{ admin.full_name }}</td>
                  <td>{{ admin.username }}</td>
                  <td>{{ admin.email }}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
      <div class="mt-4">
          <a href="{{ url_for('add_admin.index_view') }}" class="btn btn-primary">Add/Remove Admins</a>
      </div>
      <br><br>

      <div class="jumbotron">
        <h2 class="display-4" style="text-align: center;">User Count Info</h2>
        <hr class="my-4">
        <!-- First row -->
        <div class="row">
          <div class="col-12 mb-4">
            <div class="chart-bar">
              <canvas id="user_type_barchart"></canvas>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-12 mb-4">
            <p class="text-muted"><strong>Chart:</strong>  Different types of user count</p>
          </div>
        </div>
      </div>
      
      <div class="jumbotron">
        <h3 class="display-4" style="text-align: center;">Club info</h3>
        <hr class="my-4">
        <!-- Club info row -->
        <div class="row mt-4">
          <div class="col-md-6 mb-4">
            <div class="chart-bar">
              <canvas id="club_member_count_barchart"></canvas>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="chart">
              <canvas id="club_app_doughnut"></canvas>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-6">
            <p class="text-muted"><strong>Chart:</strong> Club Member Count</p>
          </div>
          <div class="col-md-6">
            <p class="text-muted"><strong>Chart:</strong> Application count per Club</p>
          </div>
        </div>
      </div>
      

      <div class="jumbotron">
        <h3 class="display-4" style="text-align: center;">Issue and Cafe Stock Info</h3>
        <hr class="my-4">
        <!-- Another row -->
        <div class="row mt-4">
          <div class="col-md-6 mb-4">
            <div class="chart">
              <canvas id="issues_doughnut"></canvas>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="chart">
              <canvas id="cafebar"></canvas>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-6">
            <p class="text-muted"><strong>Chart:</strong> Logged Issues Status</p>
          </div>
          <div class="col-md-6">
            <p class="text-muted"><strong>Chart:</strong> Food Stock Amount</p>
          </div>
        </div>
      </div>

      <!-- <h3 style="text-align: center;">PlaceHolder title</h3> -->
      <!-- Future chart row -->
      <!-- <div class="row mt-4">
        <div class="col-md-6 mb-4">
          <div class="chart">
            <canvas id="futurechart"></canvas>
          </div>
        </div>
      </div>   -->

      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

      <script>
        const ctxBar = document.getElementById('user_type_barchart');

        new Chart(ctxBar, {
          type: 'bar',
          data: {
            labels: ['Students', 'Verified Students', 'Unverified Students', 'Staff(s)', 'Club Manager(s)', 'Admin(s)'],
            datasets: [{
              label: 'Number of different User Types',
              data: [
                {{ student_count }}, 
                {{ verified_students_count }}, 
                {{ unverified_students_count }}, 
                {{ staff_count }},
                {{ club_manager_count }}, 
                {{ admin_count }}
              ],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true,
                max: {{ total }}
              }
            }
          }
        });
      </script>

      <script>
        const ctxBar2 = document.getElementById('club_member_count_barchart');

        new Chart(ctxBar2, {
          type: 'bar',
          data: {
            labels: {{ club_names | tojson }},
            datasets: [{
              label: 'Number of club members',
              data: {{ club_member_count | tojson }},
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true,
                max: {{ max_club_members }}
              }
            }
          }
        });
      </script>
      
      <script>
        const ctxDoughnut = document.getElementById('club_app_doughnut');

        new Chart(ctxDoughnut, {
          type: 'doughnut',
          data: {
            labels: {{ club_app_name | tojson }},
            datasets: [{
              label: 'Number of appicants',
              data: {{ club_app_count | tojson }},
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      </script>

      <script>
        const ctxDoughnut2 = document.getElementById('issues_doughnut');

        new Chart(ctxDoughnut2, {
          type: 'doughnut',
          data: {
            labels: ["Reported", "On-Process", "Solved"],
            datasets: [{
              label: "Logged Issue Status'",
              data: [{{ reported }}, {{ on_process }}, {{ solved }} ],
              borderWidth: 1,
              backgroundColor: [
                '#ff6384',  // Reported → Red
                '#ffce56',  // On-Process → Yellow
                '#4caf50'   // Solved → Green
              ],
              borderColor: '#fff',   // optional white borders between slices
              hoverOffset: 10 
              //data: ["Reported", "On-Process", "Solved"]
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            },
            responsive: true,
            title: {
              display: true,
              text: 'Logged Issue Status',  // 👈 This is the visible title
              font: {
                size: 18,
                weight: 'bold'
              },
              padding: {
                top: 10,
                bottom: 30
              }
            }
          }
        });
      </script>

      <script>
        const ctxBar3 = document.getElementById('cafebar');

        new Chart(ctxBar3, {
          type: 'bar',
          data: {
            labels: {{ fooditem_names | tojson }},
            datasets: [{
              label: 'Food Stock',
              data: {{ fooditem_stock | tojson }},
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true,
                max: {{ max_stock_number }}
              }
            }
          }
        });
      </script>


      <style>

        .chart-bar {
          border-radius: 25px;
          width: 100%;
          height: 450px;  /* force same height */
          display: flex;
          justify-content: center;
          align-items: center;
          background-color:  #F0E4D3;
        }

        .chart {
          border-radius: 25px;
          width: 100%;
          height: 350px;  /* force same height */
          display: flex;
          justify-content: center;
          align-items: center;
          background-color:  #F0E4D3;
        }

        .chart canvas {
          max-width: 100% !important;
          max-height: 100% !important;
        }

        .jumbotron{
          border-radius: 25px;
          background-color: #DCC5B2;
        }

        hr{
          height: 5px;
        }
      </style>
    </body>
    
{% endblock %}

{# --- Access Control (login/logout buttons) --- #}
{% block access_control %}
{{ super() }}
{% endblock %}

{# --- Messages / Alerts --- #}
{% block messages %}
{{ super() }}
{% endblock %}

{# --- Custom Header Above Content --- #}
{% block page_body %}
    

{# Render default admin content (tables, forms, etc.) #}
{{ super() }}
{% endblock %}

{# --- Optional Footer Area --- #}
{% block tail %}
  {% include "layout/adminfooter.html" %}
{% endblock %}